{%- comment -%}
  Renders a free shipping bar

  Accepts:
  - shipping_amount: {Number} Free shipping amount (required)

  Usage:
  {%- render 'cart-shipping-bar', shipping_amount: shipping_amount -%}
{%- endcomment -%}

{%- liquid
  assign shipping_style_1 = true 
  assign shipping_style_2 = false

  assign shipping_standard_amount = settings.free_ship_pr.metafields.theme.shipping_money.value | default: settings.free_ship_pr.price | default: -1
  assign shipping_fast_amount = settings.free_ship_pr_fast.metafields.theme.shipping_money.value | default: settings.free_ship_pr_fast.price | default: -1
  assign shipping_express_amount = settings.free_ship_pr_express.metafields.theme.shipping_money.value | default: settings.free_ship_pr_express.price | default: -1

  assign gift_product = settings.free_ship_pr_fast.metafields.theme.get_gift.value

  # Choose the highest shipping amount
 
  if shipping_standard_amount > 0 and shipping_standard_amount > shipping_fast_amount and shipping_standard_amount > shipping_express_amount
    assign shipping_amount = shipping_standard_amount
  elsif shipping_fast_amount > 0 and shipping_fast_amount > shipping_express_amount
    assign shipping_amount = shipping_fast_amount
  elsif shipping_express_amount > 0
    assign shipping_amount = shipping_express_amount
  endif
  # End of Choose the highest shipping amount
  
  # check milestone progress
  assign gift_card_id = gift_product.id

  assign calculated_total_price = 0

  # If the item is not a gift card or not discount product, add the price to the calculated total price
  assign shipping_protection = settings.protect_product
  assign shipping_protection_id = shipping_protection.selected_or_first_available_variant.id | default: shipping_protection.variants.first.id | default: shipping_protection.id
  assign cart_items = cart.items | reject: 'variant_id', shipping_protection_id | default: cart.items

  for item in cart_items
    if item.requires_shipping and item.variant_id != gift_card_id
      assign calculated_total_price = calculated_total_price | plus: item.original_line_price
    endif
  endfor
  #assign calculated_total_price = cart.items | where: "requires_shipping", true | sum: 'original_line_price'

  assign progress_shipping = calculated_total_price | times: 1.0 | divided_by: shipping_amount | at_most: 1

  assign standard_pos = shipping_standard_amount | times: 1.0 | divided_by: shipping_amount | at_most: 1
  assign fast_pos = shipping_fast_amount | times: 1.0 | divided_by: shipping_amount | at_most: 1
  assign express_pos = shipping_express_amount | times: 1.0 | divided_by: shipping_amount | at_most: 1

  # check milestone progress
  if progress_shipping < standard_pos 
    assign shipping_amount_milestone = shipping_standard_amount
  elsif progress_shipping < fast_pos
    assign shipping_amount_milestone = shipping_fast_amount
  elsif progress_shipping < express_pos
    assign shipping_amount_milestone = shipping_express_amount
  endif

  # end check milestone progress

  if settings.currency_code_enabled
    assign money_need_add = shipping_amount_milestone | minus: calculated_total_price | money_with_currency
  else
    assign money_need_add = shipping_amount_milestone | minus: calculated_total_price | money
  endif

  # Caculator milestones

  assign show_fast = false 
  assign show_express = false 

  if shipping_fast_amount > shipping_standard_amount
    assign show_fast = true
    assign shipping_style_1 = false
    assign shipping_style_2 = true
  endif
  if shipping_express_amount > shipping_fast_amount and shipping_express_amount > shipping_standard_amount
    assign show_express = true
    assign shipping_style_1 = false
    assign shipping_style_2 = true
  endif

  # End of Caculator milestones

  assign standard_success = ''
  assign fast_success = ''
  assign express_success = ''

-%}

<span class="hdt-progress-msg">
  {%- if shipping_style_1 -%}
    {%- if progress_shipping == 0 -%}
      {{ 'sections.cart.free_shipping_bar.intial_html' | t: money: money_need_add }}
    {%- elsif progress_shipping == 1 -%}
      {{ 'sections.cart.free_shipping_bar.success' | t | replace: '[', '<span class="is--congratulations">' | replace: ']', '</span>'  }}
    {%- else -%}
      {{ 'sections.cart.free_shipping_bar.unreached_html' | t: money: money_need_add }}
    {%- endif -%} 
  {%- else -%}
    {%- if progress_shipping == 0 -%}
      {{ 'sections.cart.free_shipping_bar.intial_html' | t: money: money_need_add }}
    {%- elsif progress_shipping < standard_pos -%}
      {{ 'sections.cart.free_shipping_bar_2.milestone_1_html' | t: money: money_need_add }}
    {%- elsif progress_shipping < fast_pos -%}
      {% assign standard_success = ' is-success' %}
      {{ 'sections.cart.free_shipping_bar_2.milestone_2_html' | t: money: money_need_add }}
    {%- elsif progress_shipping < express_pos -%}
      {% assign standard_success = ' is-success' %}
      {% assign fast_success = ' is-success' %}
      {{ 'sections.cart.free_shipping_bar_2.milestone_3_html' | t: money: money_need_add }}
    {%- else -%}
      {% assign standard_success = ' is-success' %}
      {% assign fast_success = ' is-success' %}
      {% assign express_success = ' is-success' %}
      {{ 'sections.cart.free_shipping_bar_2.success' | t | replace: '[', '<span class="is--congratulations">' | replace: ']', '</span>'  }}
    {%- endif -%}
  {%- endif -%}
</span>
<hdt-free-shipping-bar class="hdt-free-shipping-bar is-{% if progress_shipping <= 0.7 %}intial{% elsif progress_shipping == 1 %}success{% else %}unreached{% endif %}{% if calculated_total_price <= 0 %} hdt-hidden{% endif %}">
  <hdt-progress-bar data-hdt-percent="{{ progress_shipping }}" class="hdt-progress-bar hdt-progress-bar-svg{{ settings.des_shipbar }} hdt-relative hdt-radius-full" role="progressbar" aria-valuemin="0" aria-valuemax="{{ shipping_amount }}" aria-valuenow="{{ calculated_total_price }}" data-colors='{"0":"is-intial", "0.7":"is-unreached", "1":"is-success"}' style="--progress-rate: 0" reveal-in-view>
    <div class="hdt-relative hdt-radius-full" style="width:calc(var(--progress-rate) * 100%);">
      {%- if shipping_style_1 -%}
        <svg class="hdt-free-shipping-bar-icon hdt-absolute hdt-top-0 hdt-right-0 hdt-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="22"><path class="hdt-ship-primary" d="M64 48C64 21.49 85.49 0 112 0H368C394.5 0 416 21.49 416 48V96H466.7C483.7 96 499.1 102.7 512 114.7L589.3 192C601.3 204 608 220.3 608 237.3V352C625.7 352 640 366.3 640 384C640 401.7 625.7 416 608 416H574.9C567.1 361.7 520.4 320 464 320C407.6 320 360.9 361.7 353.1 416H286.9C279.1 361.7 232.4 320 176 320C127.9 320 86.84 350.4 70.99 392.1C66.56 385.7 64 377.1 64 368V256H208C216.8 256 224 248.8 224 240C224 231.2 216.8 224 208 224H64V192H240C248.8 192 256 184.8 256 176C256 167.2 248.8 160 240 160H64V128H272C280.8 128 288 120.8 288 112C288 103.2 280.8 96 272 96H64L64 48zM544 256V237.3L466.7 160H416V256H544z"></path><path class="hdt-ship-secondary" d="M272 128H16C7.164 128 0 120.8 0 112C0 103.2 7.164 96 16 96H272C280.8 96 288 103.2 288 112C288 120.8 280.8 128 272 128zM240 160C248.8 160 256 167.2 256 176C256 184.8 248.8 192 240 192H48C39.16 192 32 184.8 32 176C32 167.2 39.16 160 48 160H240zM208 224C216.8 224 224 231.2 224 240C224 248.8 216.8 256 208 256H16C7.164 256 0 248.8 0 240C0 231.2 7.164 224 16 224H208zM256 432C256 476.2 220.2 512 176 512C131.8 512 96 476.2 96 432C96 387.8 131.8 352 176 352C220.2 352 256 387.8 256 432zM544 432C544 476.2 508.2 512 464 512C419.8 512 384 476.2 384 432C384 387.8 419.8 352 464 352C508.2 352 544 387.8 544 432z"></path></svg>      
      {%- endif -%}
    </div>
    {%- if shipping_style_2 -%}
      <div class="hdt-dragress" style="--standard-pos: {{ standard_pos }};--fast-pos: {{ fast_pos }};--express-pos: {{ express_pos }}">
      </div>
      <p class="hdt-milestone-standard{{ standard_success }}" style="--pos: {{ standard_pos }}">
        <svg width="16" height="16" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5 11.6667H11.3333C12.25 11.6667 13 10.9167 13 10V1.66667H5.5C4.25 1.66667 3.15834 2.35832 2.59167 3.37499" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.16666 14.1667C2.16666 15.55 3.28333 16.6667 4.66666 16.6667H5.5C5.5 15.75 6.25 15 7.16666 15C8.08333 15 8.83333 15.75 8.83333 16.6667H12.1667C12.1667 15.75 12.9167 15 13.8333 15C14.75 15 15.5 15.75 15.5 16.6667H16.3333C17.7167 16.6667 18.8333 15.55 18.8333 14.1667V11.6667H16.3333C15.875 11.6667 15.5 11.2917 15.5 10.8333V8.33333C15.5 7.875 15.875 7.5 16.3333 7.5H17.4083L15.9833 5.00834C15.6833 4.49167 15.1334 4.16667 14.5334 4.16667H13V10C13 10.9167 12.25 11.6667 11.3333 11.6667H10.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7.16667 18.3333C8.08714 18.3333 8.83333 17.5871 8.83333 16.6667C8.83333 15.7462 8.08714 15 7.16667 15C6.24619 15 5.5 15.7462 5.5 16.6667C5.5 17.5871 6.24619 18.3333 7.16667 18.3333Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M13.8333 18.3333C14.7538 18.3333 15.5 17.5871 15.5 16.6667C15.5 15.7462 14.7538 15 13.8333 15C12.9129 15 12.1667 15.7462 12.1667 16.6667C12.1667 17.5871 12.9129 18.3333 13.8333 18.3333Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M18.8333 10V11.6667H16.3333C15.875 11.6667 15.5 11.2917 15.5 10.8333V8.33333C15.5 7.875 15.875 7.5 16.3333 7.5H17.4083L18.8333 10Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7.16667 8.33333C7.16667 9.33333 6.72501 10.225 6.03335 10.8333C5.44168 11.35 4.675 11.6667 3.83333 11.6667C1.99167 11.6667 0.5 10.175 0.5 8.33333C0.5 7.28333 0.983333 6.34167 1.75 5.73334C2.325 5.275 3.05 5 3.83333 5C5.675 5 7.16667 6.49167 7.16667 8.33333Z" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4.04167 7.29167V8.54167L3 9.16667" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      </p>
      {% if show_fast %}
        <p class="hdt-milestone-fast{{ fast_success }}" style="--pos: {{ fast_pos }}">
          <svg version="1.1" id="svg471" xml:space="preserve" width="20" height="20" viewBox="0 0 682.66669 682.66669" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs475"><clipPath clipPathUnits="userSpaceOnUse" id="clipPath485"><path d="M 0,512 H 512 V 0 H 0 Z" id="path483"/></clipPath></defs><g id="g477" transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)"><g id="g479"><g id="g481" clip-path="url(#clipPath485)"><g id="g487" transform="translate(221.54,128.1987)"><path d="m 0,0 v 73.918 m 0,-190.117 v 80.665 M 71.618,73.918 v -190.117" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path489"/></g><g id="g491" transform="translate(52.647,132.5317)"><path d="m 0,0 252.176,140.538 c 7.069,3.954 9.629,12.94 5.701,20.005 l -15.213,27.277 c -3.956,7.066 -12.945,9.625 -20.014,5.67 L -29.555,52.952 c -7.04,-3.926 -9.6,-12.911 -5.673,-19.977 L -20.014,5.67 C -16.086,-1.367 -7.069,-3.926 0,0 Z" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path493"/></g><g id="g495" transform="translate(189.5996,278.2744)"><path d="m 0,0 29.526,-52.953 m -80.781,-45.013 -29.526,52.952" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path497"/></g><g id="g499" transform="translate(92.79,224.3042)"><path d="M 0,0 C -139.687,-16.575 -91.486,156.706 27.606,63.421" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path501"/></g><g id="g503" transform="translate(177.0332,202.1172)"><path d="m 0,0 h 214.156 c 5.876,0 10.705,-4.827 10.705,-10.701 v -35.767 -124.515 c 0,-10.527 -8.61,-19.134 -19.141,-19.134 H -45.089 c -10.53,0 -19.14,8.607 -19.14,19.134 v 134.925" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path505"/></g><g id="g507" transform="translate(108.8184,233.2603)"><path d="M 0,0 80.781,45.014 70.571,63.305 C 64.957,73.395 52.099,77.03 42.034,71.417 L -2.094,46.817 C -12.188,41.205 -15.825,28.381 -10.21,18.32 Z" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path509"/></g><g id="g511" transform="translate(96.0483,263.4443)"><path d="M 0,0 C -12.072,4.391 -21.352,6.688 -37.555,8.462" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path513"/></g><g id="g515" transform="translate(148.002,366.354)"><path d="m 0,0 c -8.785,-15.179 -13.41,-37.715 -9.949,-68.8 m 68.477,-9.858 C 115.456,-7.095 62.28,39.14 22.748,21.373" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path517"/></g><g id="g519" transform="translate(171.5063,304.5322)"><path d="M 0,0 C 0.843,10.643 6.021,26.666 12.538,37.367" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path521"/></g><g id="g523" transform="translate(371.147,378.4507)"><path d="M 0,0 C 0,0 10.356,-95.611 -24.435,-133.326" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path525"/></g><g id="g527" transform="translate(422.7227,349.6338)"><path d="M 0,0 C 0,0 15.01,66.125 81.77,82.06" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path529"/></g><g id="g531" transform="translate(309.6226,486.333)"><path d="m 0,0 -11.548,-19.279 c -1.251,-2.094 -1.426,-2.792 -4.015,-3.431 l -22.864,-5.671 c -4.422,-1.105 -4.654,-2.122 -1.629,-5.554 l 14.748,-17.738 c 1.571,-1.89 1.804,-4.1 1.6,-6.775 l -1.774,-21.926 c -0.495,-4.536 0.465,-5.088 4.712,-3.373 l 20.101,8.375 c 2.095,0.872 5.382,0.872 7.447,0 l 20.13,-8.375 c 4.247,-1.715 5.178,-1.163 4.683,3.373 l -1.745,21.926 c -0.203,2.675 0,4.885 1.6,6.775 l 14.719,17.738 c 3.025,3.432 2.822,4.449 -1.629,5.554 l -22.864,5.671 c -2.589,0.639 -2.735,1.337 -4.014,3.431 L 6.109,0 C 3.782,3.926 2.356,3.926 0,0 Z" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path533"/></g><g id="g535" transform="translate(456.3208,313.9248)"><path d="m 0,0 -11.578,-19.279 c -1.251,-2.094 -1.425,-2.792 -3.985,-3.431 l -22.864,-5.671 c -4.451,-1.105 -4.683,-2.122 -1.629,-5.554 l 14.719,-17.738 c 1.6,-1.89 1.804,-4.1 1.6,-6.775 l -1.774,-21.897 c -0.466,-4.565 0.465,-5.117 4.712,-3.402 l 20.101,8.375 c 2.094,0.872 5.381,0.872 7.476,0 l 20.1,-8.375 c 4.247,-1.715 5.179,-1.163 4.713,3.402 l -1.775,21.897 c -0.203,2.675 0,4.885 1.601,6.775 l 14.719,17.738 c 3.054,3.432 2.822,4.449 -1.629,5.554 l -22.864,5.671 c -2.56,0.639 -2.735,1.337 -3.986,3.431 L 6.109,0 C 3.752,3.926 2.327,3.926 0,0 Z" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path537"/></g><g id="g539" transform="translate(432.002,440.0103)"><path d="M 0,0 C 16.552,0 30.021,13.464 30.021,29.98 30.021,46.526 16.552,59.99 0,59.99 -16.523,59.99 -30.02,46.526 -30.02,29.98 -30.02,13.464 -16.523,0 0,0 Z" style="fill:none;stroke:currentColor;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" id="path541"/></g></g></g></g></svg>
        </p>
      {% endif %}
      {% if show_express %}
        <p class="hdt-milestone-express{{ express_success }}" style="--pos: {{ express_pos }}">
          <svg width="20" height="20" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.003 512.003" style="enable-background:new 0 0 512.003 512.003" xml:space="preserve"><g><g><path d="M477.958,262.633c-2.06-4.215-2.06-9.049,0-13.263l19.096-39.065c10.632-21.751,2.208-47.676-19.178-59.023l-38.41-20.38
            c-4.144-2.198-6.985-6.11-7.796-10.729l-7.512-42.829c-4.183-23.846-26.241-39.87-50.208-36.479l-43.053,6.09
            c-4.647,0.656-9.242-0.838-12.613-4.099l-31.251-30.232c-17.401-16.834-44.661-16.835-62.061,0L193.72,42.859
            c-3.372,3.262-7.967,4.753-12.613,4.099l-43.053-6.09c-23.975-3.393-46.025,12.633-50.208,36.479l-7.512,42.827
            c-0.811,4.62-3.652,8.531-7.795,10.73l-38.41,20.38c-21.386,11.346-29.81,37.273-19.178,59.024l19.095,39.064
            c2.06,4.215,2.06,9.049,0,13.263l-19.096,39.064c-10.632,21.751-2.208,47.676,19.178,59.023l38.41,20.38
            c4.144,2.198,6.985,6.11,7.796,10.729l7.512,42.829c3.808,21.708,22.422,36.932,43.815,36.93c2.107,0,4.245-0.148,6.394-0.452
            l43.053-6.09c4.643-0.659,9.241,0.838,12.613,4.099l31.251,30.232c8.702,8.418,19.864,12.626,31.03,12.625
            c11.163-0.001,22.332-4.209,31.03-12.625l31.252-30.232c3.372-3.261,7.968-4.751,12.613-4.099l43.053,6.09
            c23.978,3.392,46.025-12.633,50.208-36.479l7.513-42.827c0.811-4.62,3.652-8.531,7.795-10.73l38.41-20.38
            c21.386-11.346,29.81-37.273,19.178-59.024L477.958,262.633z M464.035,334.635l-38.41,20.38
            c-12.246,6.499-20.645,18.057-23.04,31.713l-7.512,42.828c-1.415,8.068-8.874,13.487-16.987,12.342l-43.053-6.09
            c-13.73-1.945-27.316,2.474-37.281,12.113L266.5,478.152c-5.886,5.694-15.109,5.694-20.997,0l-31.251-30.232
            c-8.422-8.147-19.432-12.562-30.926-12.562c-2.106,0-4.229,0.148-6.355,0.449l-43.053,6.09
            c-8.106,1.146-15.571-4.274-16.987-12.342l-7.513-42.829c-2.396-13.656-10.794-25.215-23.041-31.712l-38.41-20.38
            c-7.236-3.839-10.086-12.61-6.489-19.969l19.096-39.065c6.088-12.456,6.088-26.742,0-39.198l-19.096-39.065
            c-3.597-7.359-0.747-16.13,6.489-19.969l38.41-20.38c12.246-6.499,20.645-18.057,23.04-31.713l7.512-42.828
            c1.416-8.068,8.874-13.488,16.987-12.342l43.053,6.09c13.725,1.943,27.316-2.474,37.281-12.113l31.252-30.232
            c5.886-5.694,15.109-5.694,20.997,0l31.251,30.232c9.965,9.64,23.554,14.056,37.281,12.113l43.053-6.09
            c8.107-1.147,15.572,4.274,16.987,12.342l7.512,42.829c2.396,13.656,10.794,25.215,23.041,31.712l38.41,20.38
            c7.236,3.839,10.086,12.61,6.489,19.969l-19.096,39.064c-6.088,12.455-6.088,26.743,0,39.198l19.096,39.064
            C474.121,322.024,471.271,330.796,464.035,334.635z"/></g></g><g><g><path d="M363.886,148.116c-5.765-5.766-15.115-5.766-20.881,0L148.116,343.006c-5.766,5.766-5.766,15.115,0,20.881
            c2.883,2.883,6.662,4.325,10.44,4.325c3.778,0,7.558-1.441,10.44-4.325l194.889-194.889
            C369.653,163.231,369.653,153.883,363.886,148.116z"/></g></g><g><g><path d="M196.941,123.116c-29.852,0-54.139,24.287-54.139,54.139s24.287,54.139,54.139,54.139s54.139-24.287,54.139-54.139
            S226.793,123.116,196.941,123.116z M196.941,201.863c-13.569,0-24.608-11.039-24.608-24.609c0-13.569,11.039-24.608,24.608-24.608
            c13.569,0,24.609,11.039,24.609,24.608C221.549,190.824,210.51,201.863,196.941,201.863z"/></g></g><g><g><path d="M315.061,280.61c-29.852,0-54.139,24.287-54.139,54.139s24.287,54.139,54.139,54.139
            c29.852,0,54.139-24.287,54.139-54.139S344.913,280.61,315.061,280.61z M315.061,359.357c-13.569,0-24.609-11.039-24.609-24.608
            s11.039-24.608,24.609-24.608c13.569,0,24.608,11.039,24.608,24.608S328.63,359.357,315.061,359.357z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </p>
      {% endif %}
    {%- endif -%}
  </hdt-progress-bar>
</hdt-free-shipping-bar>

{%- if gift_product.available -%}
  <hdt-add-gift-card data-total-required="{{ shipping_fast_amount }}" data-current-price="{{ calculated_total_price }}" data-variant-id="{{ gift_card_id }}" aria-controls="cart-items-component" data-section-id="{{ section.id }}" class="hdt-contents"></hdt-add-gift-card>
{%- endif -%}