
{{ 'hdt-collection-items.css' | asset_url | stylesheet_tag }}
<div id="block-{{ block.id }}" class="hdt-masonry-collections hdt-collections-list hdt-has-collection{{ block.settings.collection_des }} hdt-colelction-border-{{ block.settings.enable_border }} hdt-image-rounded-{{ block.settings.image_rounded }} hdt-row-grid hdt-grid-cols-{{ block.settings.col }} hdt-ratio--{{ block.settings.image_ratio }} {% if block.settings.image_size %} hdt-object-cover{% else %} hdt-object-contain{% endif %}">  
  {%- style -%}
    #block-{{block.id}} {
      --content-space:{{block.settings.content_space}}px;
      {%- if block.settings.content_size == "custom" -%}
        --text-custom-lg: {{ block.settings.font_size_text_lg }}px; --text-custom-md: {{ block.settings.font_size_text_md }}px; --text-custom-mb: {{ block.settings.font_size_text }}px; --text-fw: {{ block.settings.font_weight_text }}; --text-ls: {{ block.settings.letter_spacing_text }}px;
      {%- endif -%}      
      {% if block.settings.image_padding > 30 %}
        --image-pd:15px
        @media(min-width:768px){
          --image-pd:30px
        }
        @media(min-width:1150px){
          --image-pd:{{block.settings.image_padding}}px;
        }
      {% elsif block.settings.image_padding > 15 %}
        --image-pd:15px;
        @media(min-width:768px){
          --image-pd:{{block.settings.image_padding}}px;
        }
      {% else %}
        --image-pd:{{block.settings.image_padding}}px;
      {% endif %}
    }
  {%- endstyle -%}
  {% for collection in block.settings.collection_list %}
    {% content_for "block", type: "_mega-collections-item", id: "mega-collections-item", closest.collection: collection, collection_des: block.settings.collection_des, content_size: block.settings.content_size, content_weight: block.settings.content_weight, content_position: block.settings.content_position, show_count: block.settings.show_count, count_label: block.settings.count_label, image_padding: block.settings.image_padding, img_effect: block.settings.img_effect, b_effect: block.settings.b_effect %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Mega Collections",
    "tag": null,
    "settings": [
      {
        "type": "select",
        "id": "col",
        "label": "t:sections.all.items_row.desktop",
        "default": "4",
        "options": [
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ]
      },
      {
        "type": "collection_list",
        "id": "collection_list",
        "label": "t:sections.collection_products.settings.collection"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt_image",
            "label": "t:sections.all.images.ratio.adapt_image.label"
          },
          {
            "value": "square",
            "label": "t:sections.all.images.ratio.square.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.images.ratio.portrait.label"
          },
          {
            "value": "asos",
            "label": "t:sections.all.images.ratio.asos.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.images.ratio.landscape.label"
          },
          {
            "value": "custom-pr",
            "label": "t:sections.all.images.ratio.custom.label"
          }
        ],
        "label": "t:sections.all.images.ratio.label",
        "default": "adapt_image"
      },
      {
        "type": "checkbox",
        "id": "image_size",
        "label": "t:sections.all.images.size.cover",
        "default": true
      },
      {
        "type": "select",
        "id": "collection_des",
        "label": "t:sections.collections-list.settings.collection_des.label",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "t:sections.collections-list.settings.collection_des.option_8.label"
          },
          {
            "value": "9",
            "label": "t:sections.collections-list.settings.collection_des.option_9.label"
          },
          {
            "value": "10",
            "label": "t:sections.collections-list.settings.collection_des.option_10.label"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "12",
            "label": "12"
          }
        ],
        "default": "1"
      },
      {
        "type": "select",
        "id": "content_size",
        "options": [
          {
            "value": "xs",
            "label": "t:settings_schema.typography.settings.font_size.xs"
          },
          {
            "value": "sm",
            "label": "t:settings_schema.typography.settings.font_size.sm"
          },
          {
            "value": "base",
            "label": "t:settings_schema.typography.settings.font_size.base"
          },
          {
            "value": "lg",
            "label": "t:settings_schema.typography.settings.font_size.lg"
          },
          {
            "value": "xl",
            "label": "t:settings_schema.typography.settings.font_size.xl"
          },
          {
            "value": "2xl",
            "label": "t:settings_schema.typography.settings.font_size.2xl"
          },
          {
            "value": "4xl",
            "label": "t:settings_schema.typography.settings.font_size.4xl"
          },
          {
            "value": "custom",
            "label": "t:settings_schema.typography.settings.font_size.custom"
          }
        ],
        "label": "t:sections.collections-list.settings.content_size.label",
        "default": "base"
      },
      {
        "type": "header",
        "content": "t:settings_schema.typography.settings.font_size.custom",
        "visible_if": "{{ block.settings.content_size == 'custom' }}"
      },
      {
        "type": "range",
        "id": "font_size_text_lg",
        "min": 10,
        "max": 70,
        "step": 1,
        "unit": "px",
        "label": "t:settings_schema.typography.settings.font_size.label",
        "default": 16,
        "visible_if": "{{ block.settings.content_size == 'custom' }}"
      },
      {
        "type": "range",
        "id": "font_size_text_md",
        "min": 10,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "t:settings_schema.typography.settings.font_size.tablet_font_size",
        "default": 14,
        "visible_if": "{{ block.settings.content_size == 'custom' }}"
      },
      {
        "type": "range",
        "id": "font_size_text",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "t:settings_schema.typography.settings.font_size.mobile_font_size",
        "default": 14,
        "visible_if": "{{ block.settings.content_size == 'custom' }}"
      },
      {
        "type": "range",
        "id": "letter_spacing_text",
        "min": -10,
        "max": 10,
        "step": 0.2,
        "label": "t:settings_schema.typography.settings.letter_spacing",
        "default": 0,
        "visible_if": "{{ block.settings.content_size == 'custom' }}"
      },
      {
        "type": "select",
        "id": "content_weight",
        "options": [
          {
            "value": "normal",
            "label": "t:sections.collections-list.settings.content_weight.normal"
          },
          {
            "value": "medium",
            "label": "t:sections.collections-list.settings.content_weight.medium"
          },
          {
            "value": "semibold",
            "label": "t:sections.collections-list.settings.content_weight.semibold"
          }
        ],
        "label": "t:sections.collections-list.settings.content_weight.label",
        "default": "semibold"
      },
      {
        "type": "select",
        "id": "content_position",
        "label": "t:sections.collections-list.settings.content_position.label",
        "info": "t:sections.collections-list.settings.content_position.info",
        "options": [
          {
            "value": "center",
            "label": "t:sections.collections-list.settings.content_position.option_1.label"
          },
          {
            "value": "end-center",
            "label": "t:sections.collections-list.settings.content_position.option_2.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "content_space",
        "label": "t:sections.collections-list.settings.content_space.label",
        "info": "t:sections.collections-list.settings.content_space.info",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "default": 20
      },
      {
        "type": "checkbox",
        "id": "show_count",
        "label": "t:sections.collections-list.settings.show_count.label",
        "info": "t:sections.collections-list.settings.show_count.info",
        "default": false
      },
      {
        "type": "text",
        "id": "count_label",
        "label": "t:sections.collections-list.settings.count_label.label",
        "info": "t:sections.collections-list.settings.count_label.info",
        "default": "Products",
        "visible_if": "{{ block.settings.show_count }}"
      },
      {
        "type": "checkbox",
        "id": "image_rounded",
        "label": "t:sections.collections-list.settings.image_rounded.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_border",
        "label": "t:sections.collections-list.settings.enable_border.label",
        "default": false
      },
      {
        "type": "range",
        "id": "image_padding",
        "label": "t:sections.collections-list.settings.image_padding.label",
        "info": "t:sections.collections-list.settings.image_padding.info",
        "min": 0,
        "max": 60,
        "step": 1,
        "unit": "px",
        "default": 30,
        "visible_if": "{{ block.settings.enable_border }}"
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "t:sections.all.image_effect.image_hover_eff.label",
        "info": "t:sections.all.image_effect.image_hover_eff.info",
        "default": "zoom",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.image_effect.image_hover_eff.options.none"
          },
          {
            "value": "zoom",
            "label": "t:sections.all.image_effect.image_hover_eff.options.zoom"
          },
          {
            "value": "rotate",
            "label": "t:sections.all.image_effect.image_hover_eff.options.rotate"
          },
          {
            "value": "translateToTop",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToTop"
          },
          {
            "value": "translateToRight",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToRight"
          },
          {
            "value": "translateToBottom",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToBottom"
          },
          {
            "value": "translateToLeft",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToLeft"
          },
          {
            "value": "filter",
            "label": "t:sections.all.image_effect.image_hover_eff.options.filter"
          },
          {
            "value": "bounceIn",
            "label": "t:sections.all.image_effect.image_hover_eff.options.bounceIn"
          }
        ]
      },
      {
        "type": "select",
        "id": "b_effect",
        "label": "t:sections.all.image_effect.item_eff.label",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.image_effect.item_eff.options.none"
          },
          {
            "value": "border-run",
            "label": "t:sections.all.image_effect.item_eff.options.border_run"
          },
          {
            "value": "pervasive-circle",
            "label": "t:sections.all.image_effect.item_eff.options.pervasive_circle"
          },
          {
            "value": "plus-zoom-overlay",
            "label": "t:sections.all.image_effect.item_eff.options.plus_zoom_overlay"
          },
          {
            "value": "overlay",
            "label": "t:sections.all.image_effect.item_eff.options.overlay"
          }
        ]
      },
    ],
    "blocks": [

    ],
    "presets": [
      {
        "name": "Mega Collections",
        "settings": {
          
        },
        "blocks": [
          {
            "type": "_mega-collections-item",
            "static": true,
            "id": "mega-collections-item",
            "settings": {
              "image": "{{ closest.collection.image }}",
              "title": "{{ closest.collection.title }}",
              "collection_link": "{{ closest.collection.url }}"
            }
          }
        ]
      }
    ]
  }
{% endschema %}