<!-- sections/image-gallery-packery.liquid -->
{%- style -%}
  {% render 'spacing-vars', box: section %}
  #section-{{ section.id }} { 
    --masonry-grid-row-height:{{section.settings.row_height}}px;
    --masonry-grid-row-height-tb:{{section.settings.row_height_tb}}px;
    --masonry-grid-row-height-mb:{{section.settings.row_height_mb}}px;
  }
{%- endstyle -%}

{%- liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative' | append: ' hdt-section-spacing-' | append: section.id
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative' | append: ' hdt-section-spacing-' | append: section.id
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative' | append: ' hdt-section-spacing-' | append: section.id
      assign child  = ''
      assign sizes  = '100vw'
  endcase
-%}

<div id="section-{{ section.id }}" class="{{ parent }} {% if section.settings.hdt_background_parallax %} hdt-animate--parallax-bg {% endif %}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %}>
  <div class="{{ child }}">
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
      {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    <div class="hdt-container-heading">
      {%- content_for "block", type: "section-heading", id: "gallery-manual" -%}
    </div>
    <packery-layout layout="[data-layout]" selector="[item-selector]">
      <hdt-gallery-modal data-layout selector=".hdt-masonry-image__item img" class="hdt-ratio--{{ section.settings.image_ratio }} {{ section.settings.space_items }} {{ section.settings.space_items_tb }} {{ section.settings.space_items_mb }}">
        {%- content_for 'blocks' -%}
      </hdt-gallery-modal>
    </packery-layout>
  </div>
</div>
<script src="{{ 'packery.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "t:sections.image_gallery_packery.name_2",
  "tag": "section",
  "class": "hdt-section hdt-collections-list hdt-collections-list-manual hdt-packery-layout",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general_options.label"
    },
    {
      "type": "select",
      "id": "click_action",
      "label": "Click action",
      "options": [
        {
          "value": "go_link",
          "label": "Go to link"
        },
        {
          "value": "open_popup",
          "label": "Photoswipe popup"
        }
      ],
      "default": "go_link"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.all.images.ratio.adapt_image.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.images.ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.images.ratio.portrait.label"
        },
        {
          "value": "asos",
          "label": "t:sections.all.images.ratio.asos.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.images.ratio.landscape.label"
        },
        {
          "value": "custom-pr",
          "label": "t:sections.all.images.ratio.custom.label"
        }
      ],
      "label": "t:sections.all.images.ratio.label",
      "default": "adapt_image"
    },
    {
      "type": "select",
      "id": "img_effect",
      "label": "t:sections.all.image_effect.image_hover_eff.label",
      "info": "t:sections.all.image_effect.image_hover_eff.info",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.image_effect.image_hover_eff.options.none"
        },
        {
          "value": "zoom",
          "label": "t:sections.all.image_effect.image_hover_eff.options.zoom"
        },
        {
          "value": "rotate",
          "label": "t:sections.all.image_effect.image_hover_eff.options.rotate"
        },
        {
          "value": "translateToTop",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToTop"
        },
        {
          "value": "translateToRight",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToRight"
        },
        {
          "value": "translateToBottom",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToBottom"
        },
        {
          "value": "translateToLeft",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToLeft"
        },
        {
          "value": "filter",
          "label": "t:sections.all.image_effect.image_hover_eff.options.filter"
        },
        {
          "value": "bounceIn",
          "label": "t:sections.all.image_effect.image_hover_eff.options.bounceIn"
        }
      ]
    },
    {
      "type": "select",
      "id": "b_effect",
      "label": "t:sections.all.image_effect.item_eff.label",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.image_effect.item_eff.options.none"
        },
        {
          "value": "border-run",
          "label": "t:sections.all.image_effect.item_eff.options.border_run"
        },
        {
          "value": "pervasive-circle",
          "label": "t:sections.all.image_effect.item_eff.options.pervasive_circle"
        },
        {
          "value": "plus-zoom-overlay",
          "label": "t:sections.all.image_effect.item_eff.options.plus_zoom_overlay"
        },
        {
          "value": "overlay",
          "label": "t:sections.all.image_effect.item_eff.options.overlay"
        }
      ]
    },
    {
      "type": "select",
      "id": "space_items",
      "label": "t:sections.all.space_items.desktop",
      "default": "lg:hdt-gutter-30",
      "options": [
        {
          "value": "lg:hdt-gutter-0",
          "label": "0"
        },
        {
          "value": "lg:hdt-gutter-2",
          "label": "2px"
        },
        {
          "value": "lg:hdt-gutter-4",
          "label": "4px"
        },
        {
          "value": "lg:hdt-gutter-8",
          "label": "8px"
        },
        {
          "value": "lg:hdt-gutter-10",
          "label": "10px"
        },
        {
          "value": "lg:hdt-gutter-15",
          "label": "15px"
        },
        {
          "value": "lg:hdt-gutter-20",
          "label": "20px"
        },
        {
          "value": "lg:hdt-gutter-30",
          "label": "30px"
        }
      ]
    },
    {
      "type": "select",
      "id": "space_items_tb",
      "label": "t:sections.all.space_items.tablet",
      "default": "md:hdt-gutter-15",
      "options": [
        {
          "value": "md:hdt-gutter-0",
          "label": "0"
        },
        {
          "value": "md:hdt-gutter-2",
          "label": "2px"
        },
        {
          "value": "md:hdt-gutter-4",
          "label": "4px"
        },
        {
          "value": "md:hdt-gutter-8",
          "label": "8px"
        },
        {
          "value": "md:hdt-gutter-10",
          "label": "10px"
        },
        {
          "value": "md:hdt-gutter-15",
          "label": "15px"
        },
        {
          "value": "md:hdt-gutter-20",
          "label": "20px"
        },
        {
          "value": "md:hdt-gutter-30",
          "label": "30px"
        }
      ]
    },
    {
      "type": "select",
      "id": "space_items_mb",
      "label": "t:sections.all.space_items.mobile",
      "default": "hdt-gutter-15",
      "options": [
        {
          "value": "hdt-gutter-0",
          "label": "0"
        },
        {
          "value": "hdt-gutter-2",
          "label": "2px"
        },
        {
          "value": "hdt-gutter-4",
          "label": "4px"
        },
        {
          "value": "hdt-gutter-8",
          "label": "8px"
        },
        {
          "value": "hdt-gutter-10",
          "label": "10px"
        },
        {
          "value": "hdt-gutter-15",
          "label": "15px"
        },
        {
          "value": "hdt-gutter-20",
          "label": "20px"
        },
        {
          "value": "hdt-gutter-30",
          "label": "30px"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_layout.label"
    },
    {
      "type": "checkbox",
      "id": "colors_by_section",
      "label": "t:sections.all.colors.display_colors_by_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.all.background.opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:sections.all.section_layout.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_layout.width.container"
        },
        {
          "value": "wrapper_container",
          "label": "t:sections.all.section_layout.width.wrapper_container"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_layout.width.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "t:sections.all.background.image"
    },
    {
      "type": "checkbox",
      "id": "hdt_background_parallax",
      "label": "Using parallax for background",
      "visible_if": "{{ section.settings.section_background != blank }}",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_spacing"
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you not use to blank",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin (Mobile)",
      "default": ",,30px,",
      "placeholder": ",,50px,",
      "visible_if": "{{ section.settings.mg != blank }}"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you not use to blank",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding (Mobile)",
      "placeholder": ",,50px,",
      "visible_if": "{{ section.settings.pd != blank }}"
    },
  ],
  "blocks": [
    {
      "type": "_gallery_item-packery-2"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_gallery_packery.name_2",
      "category": "t:sections_categories.02_banner.name",
      "blocks": [
        {
          "type": "section-heading",
          "static": true,
          "id": "gallery-manual",
          "settings": {
            "alignment": "center"
          },
          "blocks": [
            {
              "type": "_heading_section",
              "settings": {
                "heading": "Packery gallery"
              }
            },
          ]
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-6",
            "col_tb": "md:hdt-custom-col-6",
            "col_mb": "hdt-custom-col-12"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-9",
            "col_tb": "md:hdt-custom-col-9",
            "col_mb": "hdt-custom-col-12"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },

        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
        {
          "type": "_gallery_item-packery-2",
          "settings": {
            "col_dk": "lg:hdt-custom-col-3",
            "col_tb": "md:hdt-custom-col-3",
            "col_mb": "hdt-custom-col-6"
          }
        },
      ]
    }
  ]
}
{% endschema %}